
<h2 class="page-header">Reservation</h2>
<form (submit)="onReservationSubmit()">
  <div class="form-group">
    <label>Lab</label>
  <select type="text" class="form-control" [(ngModel)]="labname" name="labname">
    <option class="dropdown-item" value="Third Year Lab">Third Year Lab</option>
    <option class="dropdown-item" value="Fourth Year Lab">Fourth Year Lab</option>
    <option class="dropdown-item" value="Lab A">Lab A</option>
    <option class="dropdown-item" value="Lab B">Lab B</option>
    <option class="dropdown-item" value="Lab C">Lab C</option>
  </select>
</div>

<div class="form-group">
  <label>Date</label>
  <input type="date" class="form-control" [(ngModel)]="date" name="date">
</div>

<div class="form-group">
  <label>Time Slot</label>
<select type="text" class="form-control" [(ngModel)]="timeslot" name="timeslot">
  <option class="dropdown-item" value="08.00 A.M - 09.00 A.M">08.00 A.M - 09.00 A.M</option>
  <option class="dropdown-item" value="09.00 A.M - 10.00 A.M">09.00 A.M - 10.00 A.M</option>
  <option class="dropdown-item" value="10.00 A.M - 11.00 A.M">10.00 A.M - 11.00 A.M</option>
  <option class="dropdown-item" value="11.00 A.M - 12.00 P.M">11.00 A.M - 12.00 P.M</option>
  <option class="dropdown-item" value="12.00 P.M - 01.00 P.M">12.00 P.M - 01.00 P.M</option>
  <option class="dropdown-item" value="01.00 P.M - 02.00 P.M">01.00 P.M - 02.00 P.M</option>
  <option class="dropdown-item" value="02.00 P.M - 03.00 P.M">02.00 P.M - 03.00 P.M</option>
  <option class="dropdown-item" value="03.00 P.M - 04.00 P.M">03.00 P.M - 04.00 P.M</option>
  <option class="dropdown-item" value="04.00 P.M - 05.00 P.M">04.00 P.M - 05.00 P.M</option>
</select>
</div>



<input type="submit" class="btn btn-primary" value="submit">
</form>
